@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Baloo';
    src: url('fonts/Baloo.woff2') format('woff2'),
        url('fonts/Baloo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    --primary-color: #DDD0C7;
    --secondary-color: #BA9457;
    --text-color: #202020;

    --primary-fonts:"Inter", sans-serif ;
    --secondary-fonts: 'Baloo';
    --third-fonts: "Jost", sans-serif;

    --default-transition: all 0.3s ease;

    --section-gaps: 100px;
    --section-md-gaps: 80px;
}

body {
    font-family: var(--primary-fonts);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--dark-color);
}

img {
    max-width: 100%;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-fonts);
    overflow-wrap: inherit;
    line-height: 1.1;
}

a {
    text-decoration: none;
    display: inline-block;
    color:var(--primary-color);
}

a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

a, input[type="submit"], button {
    cursor: pointer;
    -webkit-transition: var(--default-transition);
    -o-transition: var(--default-transition);
    transition: var(--default-transition);
}

.social-links ul,
.sub-menu,
ul.contact-list,
.social-link-list,
.single-test-sty ul,
.site-footer ul,
.copyright-sec ul,
.primary-menu,
.list-none {
    list-style: none;
    margin: 0;
    padding: 0;
}

.img-cover {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/* Color ,gaps and other css */

.primary-bg {
    background-color: var(--primary-color);
}

.secondary-bg {
    background-color: var(--secondary-color);
}

.section-gaps {
    padding: var(--section-gaps) 0;
}
.section-md-gaps {
    padding: var(--section-md-gaps) 0;
}
.section-top-gaps {
    padding-top: var(--section-gaps);
}
.section-md-top-gaps {
    padding-top: var(--section-md-gaps);
}

/* End Color ,gaps and other css */

.btn-wrap{
    display: flex;
    gap: 20px;
}
.btn-box{
    padding: 10px 35px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--primary-fonts);
    transition: var(--default-transition);
    border: none;
    outline: unset;
    position: relative;
}
.btn-box.white{
    background-color: #fff;
    color: #202020;
}
.btn-box.brown{
    background-color: #BA9457;
    color: #fff;
}
.btn-box.black{
    max-width: 160px;
    margin-right: 10px;
    padding: 12px 10px;
    min-height: 45px;
    background-color: var(--text-color) !important;
    color: #fff;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    text-transform: capitalize;
    margin-right: 0;
}
.btn-box:hover{
    background-color:#BB7E26 ;
    color: #fff;
}
.underline{
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
.underline.center{
    text-align: center;
}
.underline.center::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 4px;
    width: 120px;
    background-color: #97572A;
}
.underline.left{
    text-align: left;
}
.underline.left::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 4px;
    background-color: #6E1D1A;
}
.breadcrumb .text{
    font-size: 12px;
    text-transform: uppercase;
    color: #202020;
}
.breadcrumb a.text{
    color: #9d9ea2;
}
.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.breadcrumb li:not(:last-child)::after {
    content: '>';
    padding: 0 5px;
    color: #9d9ea2;
    font-size: 12px;
}
.text-wraper{
    max-width: 1000px;
    margin: 0 auto;
}
.form-group label{
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.form-input{
    padding: 12px 10px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    width: 100%;
}
.form-textarea{
    height: 100px;
}
.required {
    color: red;
}
input, select, textarea{
    outline: unset;
}
.pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.pagination .page{
    --size: 45px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: #f7f7f7;
    display: grid;
    place-content: center;
    cursor: pointer;
    color: var(--text-color);
    transition: var(--default-transition);
}
.pagination .page:hover{
    background-color: #BA9457;
    color: #fff;
}
.pagination .page.current{
    background-color: #BB7E26;
    color: #fff;
}
main section:last-child{
    padding-bottom: 150px;
}

/* splide */

.splide__pagination__page{
    --size: 15px;
    height: var(--size);
    width: var(--size);
    background-color: #fff;
    opacity: 0.8;
}
.splide__pagination__page.is-active{
    transform: unset;
    opacity: 1;
    border: 1px solid #6E1D1A;
}

/* splide */

.learn-more{
    text-transform: capitalize;
}
.web-content p, .web-content .title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.web-content .title{
    -webkit-line-clamp: 2;
}


/* hamburger */

.hamburger{
    display: none;
}

/* hamburger */

/* header */

header{
    background-color: #BB7E26;
    position: relative;
    z-index: 9;
}
header nav{
    display: flex;
    gap: 40px;
    align-items: center;
}
header .logo{
    width: 248px;
    flex: 0 0 248px;
}
header .logo a{
    padding: 30px 25px;
    background-color: #E9DDC1;
    border-radius: 0 0 20px 20px;
    position: absolute;
    top: 0;
    /* z-index: 9; */
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.primary-menu{
    display: flex;
    gap: 30px;
}
.primary-menu a{
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--primary-fonts);
    padding: 18px 0;
}
.header-button{
    display: flex;
    gap: 20px;
}
.whist-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    gap: 25px;
}
.search-box{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 106;
    width: 100%;
    background: #fff;
    padding: 50px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: opacity 0.25s ease, visibility 0.25s ease,transform 0.5s ease;
}
.search-box.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
}
.search-box input{
    padding: 15px;
    border-radius: 8px;
    outline: unset;
    border: none;
}
.search-box button{
    background-color: transparent;
    border: none;
}
.search-box .container{
    max-width: 800px;
}
.search-form-box{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border: 2px solid #EAEBED;
    border-radius: 5px;
}

.search-form-box .form-group{
    display: flex;
    align-items: center;
    flex: 1;
}
.search-category::after{
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    border: 0;
    background: #E1E2E3;
}
.search{
    position: relative;
}
.search-category-select{
    position: relative;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    width: 100%;
    height: auto;
    padding: 8px 10px;
    color: var(--text-color);
    outline: none;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    padding-right: 35px;
    font-size: 11px;
    text-transform: uppercase;
}
.search-category-select::after{
    content: '\f078';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    right: 5px;
    transition: var(--default-transition);
}
.search-category-select.open::after{
    transform: rotate(180deg);
}
.search-category-menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 200px;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.search-category-menu-inner{
    max-height: 200px;
    overflow-y: auto;
}
.search-category-menu-item{
    cursor: pointer;
    font-weight: 400;
    line-height: 30px;
    min-height: 30px;
    font-size: 12px;
    outline: none;
    padding-left: 18px;
    padding-right: 15px;
    text-align: left;
    transition: all 0.2s;
}
.search-category-menu-item:hover{
    background-color: #E9DDC1;
}
.search-category-menu-item.is-select{
    background-color: #BB7E26 ;
    color: #fff;
}
.popup-search .close-btn{
    position: relative;
    margin-bottom: 20px;
    border-radius: 50%;
    background: #f9f9f9;
    border: 9px solid transparent;
    color: var(--text-color);
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.popup-search{
    text-align: center;
}
.popup-search .close-btn::before, .popup-search .close-btn::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 90%;
    top: 46%;
    left: 1px;
    transform-origin: 50% 50%;
    background-color: var(--text-color);
    opacity: 1;
    transition: transform ease 0.25s;
}
.popup-search .close-btn::before{
    transform: rotate(45deg);
}
.popup-search .close-btn:hover::before{
    transform: rotate(-45deg);
}
.popup-search .close-btn::after{
    transform: rotate(-45deg);
}
.popup-search .close-btn:hover::after{
    transform: rotate(45deg);
}
.popular-item{
    display: flex;
}
.popular-item .title{
    margin-bottom: 0;
}
.popular-item .title a{
    color: var(--text-color);
    font-weight: 600;
    font-size: 14px;
}
.popular-item .amount{
    font-size: 13px;
    font-weight: 600;
}
.popular-item .image{
    width: 40%;
    flex: 0 0 40%;
}
.popular-product-list{
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #E1E2E3;
}
.popular-product-list .main-title .title{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.header-button button, .search button{
    border: none;
    background-color: transparent;
    padding: 0;
}
.header-button svg{
    --size: 18px;
    height: var(--size);
    width: var(--size);
}
.overlay, .overlay-desktop{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
}
.overlay-desktop.active{
    opacity: 0.3;
    visibility: visible;
}
.sub-menu{
    display: flex;
    flex-direction: column;
    transition: all .2s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 10px;
    visibility: hidden;
    background-color: #fff;
    z-index: 6;
    padding: 20px 0;
    transform: translateY(50px);
}
.sub-menu a{
    padding: 6px 20px;
    transition: all 0.3s linear;
    font-size: 16px;
    color: #202020;
}
.sub-menu a:hover{
    background-color: #c9c9c9;
    color: #BB7E26;
}
.menu-dropdown .dropdown-btn{
    display: flex;
}
.primary-menu .menu-dropdown .sub-menu .menu-dropdown:hover .sub-menu{
    visibility: visible;
    opacity: 1;
}
.primary-menu .menu-dropdown a > .dropdown-btn i{
    font-size: 12px;
    line-height: 22px;
}
.primary-menu .menu-dropdown a{
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}
.primary-menu .menu-dropdown .sub-menu .menu-dropdown a > .dropdown-btn{
    --size: 24px;
    height: var(--size);
    width: var(--size);
    background-color: var(--primary-color);
    display: grid;
    place-content: center;
}
.primary-menu .menu-dropdown .sub-menu .menu-dropdown{
    position: relative;
}
.primary-menu .menu-dropdown .sub-menu .menu-dropdown .sub-menu{
    top: 0px;
    right: 242px;
}
.sub-menu li{
    min-width: 200px;
    position: relative;
}
.sub-menu span{
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 0 10px;
    font-size: 16px;
    color: var(--primary-color);
    font-family: var(--primary-fonts);
    font-weight: 500;
}
.sub-menu .menu-dropdown span{
    font-size: 14px;
}
.sub-menu .menu-dropdown a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-menu .dropdown-btn{
    position: static;
    padding: 0;
}

/* header */

/* banner */

.banner-content::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.3;
}
.banner-content .content{
    height: 100%;
    display: grid;
    place-content: center;
    min-height: 640px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.banner-content .content .sub-title{
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    font-family: var(--primary-fonts);
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20PX;
}
.banner-content .content .sub-title::before{
    background-color: #fff;
}
.banner-content .content .title{
    font-family: var(--secondary-fonts);
    font-size: 66px;
    line-height: 66px;
    margin-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
}
.banner-content .btn-wrap{
    justify-content: center;
}
.banner-content .btn-wrap .btn-box{
    border-radius: 8px;
    text-transform: uppercase;
}
.banner-slide .splide__pagination{
    bottom: 38px;
}
.banner-content{
    background-size: cover;
    background-position: center;
}

/* banner */


/* category-section */

.category-list .category-item + .category-item{
    padding-top: 80px;
}
.category-item .big-image{
    height: 702px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.category-item .big-image::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(123, 52, 22, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}
.category-item .big-image .content{
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 57px;
    right: 57px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.category-item .big-image .content .title{
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    line-height: 50px;
}
.category-card{
    border: 1px solid #D7D7D7;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    transition: var(--default-transition);
}
.category-card:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.category-card .image{
    position: relative;
    height: 248px;
    border-bottom: 1px solid #D7D7D7;
    padding: 7px;
}
.category-card .image a{
    height: 100%;
    width: 100%;
}
.category-card .image .icon{
    position: absolute;
    top: 18px;
    right: 18px;
    border: none;
    padding: 0;
    background-color: unset;
}
.category-card .image .icon svg{
    height: 17px;
    width: 19px;
}
.category-card .image .icon.active svg path{
    fill: #202020;
}
.category-card .image .discount-price{
    padding: 5px 12px;
    background-color: #6E1D1A;
    border-radius: 7px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    font-family: var(--primary-fonts);
    line-height: 15px;
    position: absolute;
    top: 13px;
    left: 13px;
}
.category-card .content{
    min-height: 88px;
    padding: 18px 13px 5px  ;
    display: flex;
    justify-content: space-between;
    background-color: #F9F9F9;
}
.category-card .content .title {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
}
.category-card .content .title a{
    color: #202020;
}
.price del, .price ins{
    color: #7E878D;
    font-size: 14px;
    line-height: 17px;
}
.price ins{
    color: #202020;
    text-decoration: none;
    padding-left: 8px;
}
.add-to-cart button{
    border: 1px solid #D7D7D7;
    border-radius: 50%;
    background-color: transparent;
    --size: 35.4px;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-content: center;
    transition: var(--default-transition);
}
.add-to-cart button:hover{
    background-color: #6E1D1A !important;
    border-radius: #fff;
}
.add-to-cart button:hover path{
    stroke: #fff;
}

/* category-section */

/* hero-section */

.hero-section .content{
    border-radius: 100px 0 100px 0;
    background-color: var(--primary-color);
    position: relative;
    height: 500px;
    display: grid;
    place-content: center;
}
.hero-section .content .image{
    position: absolute;
    bottom: 30px;
    left: 30px;
    height: 204px;
    width: 277px;
}
.hero-section .inner-content{
    max-width: 540px;
    margin: 0 auto;
    text-align: end;
}
.hero-section .inner-content .title{
    font-size: 52px;
    font-weight: 700;
    line-height: 63px;
    color: #fff;
    text-transform: uppercase;
}
.hero-section .inner-content .title span{
    font-weight: 400;
}
.hero-section .inner-content .text{
    color: #3A3A3A;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

/* hero-section */

/* popular-bowl-section */

.popular-bowl-section .main-title .title{
    text-transform: uppercase;
    font-size: 42px;
    line-height: 42px;
    font-family: var(--secondary-fonts);
}
.popular-bowl-list{
    padding-top: 20px;
    margin-right: -15px;
    margin-left: -15px;
}
.popular-bowl-list > *{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
}
.popular-bowl-card{
    border: 1px solid #C6C6C6;
    border-radius: 10px;
    overflow: hidden;
    transition: var(--default-transition);
}
.popular-bowl-card:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.popular-bowl-card .image{
    height: 235px;
    padding: 8px;
    background-color: #fff;
}
.popular-bowl-card .image a{
    height: 100%;
    width: 100%;
}
.review-list {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    gap: 5px;
    list-style: none;
}
.review-box{
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.review-box .text{
    color: #5C5C5C;
    font-size: 13.19px;
    line-height: 15.97px;
}
.popular-bowl-card .content{
    padding: 21px 18px 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #F9F9F9;
}
.popular-bowl-card .content .title{
    font-weight: 600;
    font-size: 16px;
    line-height: 20.5px;
    margin-bottom: 0;
}
.popular-bowl-card .content .title a{
    color: #202020;
}
.popular-bowl-card .pricing{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-bowl-card .add-to-cart button{
    --size: 32.76px;
    background-color: #fff;
}
.popular-bowl-card .add-to-cart button svg{
    height: 11.47px;
    width: 12.61px;
}
/* popular-bowl-section */

/* customer-review-section */

.customer-review-section{
    background-color: #F5F5F5;
    padding-bottom: 150px;
}
.customer-review-section .main-title .title{
    font-family: var(--secondary-fonts);
    font-size: 38px;
    line-height: 60px;
}
.customer-slide .splide__arrow{
    opacity: 1;
    border-radius: 6px;
    border: 1px solid #D7D7D7;
    --size: 40px;
    height: var(--size);
    width: var(--size);
    background-color: transparent;
    top: -132px;
    transform: unset;
}
.customer-slide .splide__arrow:hover{
    background-color: #eeee;
}
.customer-slide .splide__arrow--prev{
    left: unset;
    right: 50px;
}
.customer-slide .splide__arrow--next{
    right: 0;
}
.customer-card .rating {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 30px;
}
.customer-card{
    text-align: center;
}
.customer-card .content .title{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #202020;
    text-transform: uppercase;
}
.customer-card .content p{
    font-size: 14px;
    line-height: 17px;
    color: #585858;
    max-width: 325px;
    margin: 0 auto 15px;
}
.customer-card .content .user-name{
    color: #202020;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--primary-fonts);
}
.customer-card .content{
    padding-bottom: 30px;
}
.customer-card figure .image{
    --size: 100px;
    height: var(--size);
    width: var(--size);
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    margin: 0 auto;
}
.customer-card figure figcaption{
    font-size: 14px;
    line-height: 17px;
    color: #202020;
    padding-top: 10px;
}

/* customer-review-section */

/* footer */

footer{
    background-color: #202020;
    position: relative;
    /* margin-top: 70px; */
}
footer .logo a{
    background-color: #202020;
    padding: 30px 64px;
    padding-right: 85px;
    margin-top: -100px;
    border-radius: 20px;
}
footer .logo a svg{
    width: 117px;
    height: 100px;
}
.footer-detail .title{
    color: #fff;
    font-family: var(--secondary-fonts);
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 21px;
}
.footer-detail p{
    color: #fff;
    line-height: 20px;
    margin-bottom: 0;
}
.footer-detail{
    padding-bottom: 80px;
}
.touch-box .title{
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    font-family: var(--secondary-fonts);
}
.touch-box p{
    color: #fff;
    line-height: 20px;
    margin-bottom: 25px; 
}
.touch-box .wpcf7-response-output{
   display: none;
}
.touch-box input{
    padding: 15px;
    border: none;
    outline: none;
}
.subscribe-form {
    display: flex;
}
.touch-box input[type="email"]{
    border-radius: 8px 0 0 8px;
    min-width: 245px;
	width: 100%;
}
.touch-box input[type="submit"]{
    border-radius: 0 8px 8px 0;
    padding: 15px 20px;
    background-color: #BA9457;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    width: 100%;
}
.footer-item {
    margin-top: 57px;
}
.footer-item .title{
    font-family: var(--third-fonts);
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer-list a{
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 500;
    font-family: var(--primary-fonts);
    color: #DADADA;
    text-transform: capitalize;
}
.footer-list a:hover{
    color: #BB7E26;
}
.footer-list li::marker{
    color: #fff;
}
.footer-list li{
    padding-bottom: 10px;
}
.footer-bottom{
    border-top: 1px solid #303B35;
    padding: 22px 0;
}
.footer-top{
    padding-bottom: 100px;
}
.footer-top .col-lg-8{
    padding-left: 80px;
}
.footer-bottom .text{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #DADADA;
}
.footer-bottom .social-link{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    gap: 21px;
}
.footer-bottom .social-link i{
    color: #fff;
    transition: var(--default-transition);
}
.footer-bottom .social-link a:hover i{
    color: #BB7E26;
}
.footer-bottom .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer */


/* product-detail */

.product-detail-section{
    padding-bottom: 150px;
}
.product-detail-section .image-content{
    padding-right: 40px;
    margin-bottom: 30px;
}
.product-detail-section .image-content .image{
    background-color: #F9F9F9;
}
.product-main-slide .image{
    max-height: 500px;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.product-main-slide .splide__track{
    overflow: visible;
}
.product-main-slide .image .sale{
    --size: 50px;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    background-color: #c2a284;
    font-size: 12px;
    color: #202020;
    position: absolute;
    left: 10px;
    top: 10px;
    text-transform: uppercase;
    display: grid;
    place-content: center;
}
.product-main-slide .image a, .product-main-slide .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.product-thumbnail-slide .image{
    margin: 10px 5px 0;
    height: 100%;   
}
.product-thumbnail-slide .splide__slide{
    border: none !important;
}
.product-detail .main-title .title{
    font-size: 30px;
    margin: 8px 0 15px;
}
.product-detail .price del, .product-detail .price ins{
    font-size: 20px;
}
.product-detail .price{
    margin-bottom: 15px;
}
.product-price-input{
    margin: 30px 0;
}
.product-number > *{
    --size: 45px;
    width: var(--size);
    height: var(--size);
    display: grid;
    place-content: center;
    text-align: center;
}
.quantity-product {
    /* -webkit-appearance: none;  */
    appearance: none;
}
.quantity-product::-webkit-inner-spin-button{
    -webkit-appearance: none; 
}
.quantity-product{
    width: 50px;
    border: solid #C7C8CA;
    border-width: 1px 0 1px 0;
    outline: unset;    
}
.product-btn {
    border: 1px solid #C7C8CA;
    background-color: transparent;
    transform: var(--default-transition);
    cursor: pointer;
}
.product-btn:hover{
    background-color: #eaedf2;
}
.product-detail .product-number{
    margin-bottom: 30px;
}
.product-price-input .sub-total > span:first-child{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}
.product-price-input .sub-total{
    margin-bottom: 35px;
}
.product-description{
    border-top: 1px solid #e3e3e3;
    border-radius: 0;
    padding-top: 40px;
}
.product-description .title{
    font-size: 20px;
    margin-bottom: 19px;
    font-weight: 600;
}
.product-description p{
    font-size: 14px;
    line-height: 17px;
    color: #585858;
}
.size-option .options li label{
    --size: 40px;
    height: var(--size);
    width: var(--size);
    border: 1px solid #8F9294;
    border-radius: 5px;
    display: grid;
    place-content: center;
    font-family: var(--primary-fonts);
    color: #8F9294;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}
.size-option .options input[type="radio"] {
    display: none;
}
.size-option .options input[type="radio"]:checked + label {
    background-color: #000;
    /* border-color: #3772FF; */
    color: #fff;
}

.size-option .options {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-bottom: 30px;
    gap: 15px;
    /* justify-content: center; */
}
.size-option .title{
    font-size: 20px;
    line-height: 25.3px;
}
.add_to_cart_button::after{
    font-family: 'Font awesome 6 Free';
    font-weight: 900;
    transition: all 0.3s linear;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
}
.loading.add_to_cart_button::after{
    content: '\f013';
    animation: spin 1s infinite linear;
    top: 25%;
}
.added.add_to_cart_button::after{
    content: '\f00c';
}

/* detail-page */

/* inner-banner */

.inner-banner, .common-banner{
    position: relative;
    padding: 100px 0 0 ;
}
.inner-banner .main-title .title{
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}
.inner-banner .main-title{
    margin-top: 5px;
}

/* inner-banner */
/* common-banner */

.common-banner{
    text-align: center;
}
.common-banner .main-title .title{
    font-size: 66px;
    line-height: 66px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: var(--secondary-fonts);
}

/* common-banner */

/* event-section */

.event-section{
    padding-bottom: 150px;
}

/* event-box */

.event-box .image{
    position: relative;
    height: 250px;
}
.event-box .image img, .event-box .image a{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.event-box .image .text{
    position: absolute;
    display: inline-block;
    background-color: var(--text-color);
    color: #fff;
    padding: 5px 20px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 0.3s linear;
    font-size: 12px;
    border-radius: 4px;
    right: 15px;
    top: 15px;
}
.event-box .content{
    padding-top: 24px;
    min-height: 195px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.event-box .content .title{
    margin-bottom: 16px;
    font-size: 20px;
}
.event-box .content .title a{
    color: var(--text-color);
}
.event-box .learn-more a{
    font-size: 16px;
    color: var(--text-color);
}

/* event-box */

/* event-section */


/* single-page */

.single-page-section{
    padding: 20px 0 80px;
}
.single-page-section img{
    height: 500px;
    /* padding-bottom: 20px; */
}
.single-page-section .event-info{
    display: flex;
}
.single-page-section .event-info div + div::before{
    content: '/';
    padding: 0 5px;
}
.event-date{
    display: flex;
}
.single-page-section .text-wraper{
    margin: 48px auto 0;
    
}
.single-page-section blockquote{
    position: relative;
    border-left: 4px solid #BB7E26;
    padding: 0 0 0 40px;
    margin: 40px 0;
    font-size: var(--f-s-4);
    line-height: 34px;
    font-style: italic;
}
.single-page-section a{
    color: #BB7E26;
}
.single-page-section a:hover{
    text-decoration: underline;
}

/* single-page */

/* similar-post-section */

.similar-post-section{
    padding-bottom: 150px;
    background-color: #F5F5F5;
}
.similar-post-section .main-title .title{
    font-size: 36px;
    margin-bottom: 30px;
    font-family: var(--secondary-fonts);
    font-weight: 400;
    letter-spacing: 1px;
}

/* similar-post-section */

/* shop-page */

.shop-list-section{
    padding-bottom: 150px;
}
/* shop-order-dropdown */

.order-select-dropdown-select {
    position: relative;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    width: 100%;
    height: auto;
    padding: 8px 10px;
    color: var(--text-color);
    outline: none;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    padding-right: 20px;
    font-size: 11px;
    text-transform: uppercase;
}
.order-select-dropdown-select::after{
    content: '\f078';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    right: 5px;
    transition: var(--default-transition);
}
.order-select-dropdown-select.open::after{
    transform: rotate(180deg);
}
.order-select-dropdown-menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 200px;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.order-select-dropdown-menu::-webkit-scrollbar{
    width: 3px;
}
.order-select-dropdown-menu::-webkit-scrollbar-track {
    background: transparent;
}
.order-select-dropdown-menu::-webkit-scrollbar-thumb {
    background: #616161; 
    border-radius: 10px;
}
.order-select-dropdown-menu-inner {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
.order-select-dropdown-menu-item {
    font-family: inherit;
    font-size: 12px;
    font-weight: normal;
    line-height: inherit;
    cursor: pointer;
    user-select: none;
    padding: 5px 15px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}
.order-select-dropdown-menu-item:hover {
    /* color: #fff; */
    background-color: #E9DDC1;
}
.order-select-dropdown-menu-item.selected, .order-select-dropdown-menu-item.is-select{
    background-color: #BB7E26 !important;
    color: #fff;
}
/* .order-select-dropdown-menu-item.is-select,
.order-select-dropdown-menu-item.is-select:hover {
    color: #fff;
    background-color: var(--color-blues);
} */


/* shop-order-dropdown */


.shop-list-section .product-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.shop-list-section .shop-filter{
    display: flex;
    align-items: center;
    gap: 25px;
}
.filter-box{
    position: relative;
}
.filter-box svg{
    --size: 20px;
    height: var(--size);
    width: var(--size);
    margin-left: 15px;
    cursor: pointer;
}
.filter-box:not(.active) .close-btn{
    display: none;
}
.filter-box .close-btn{
    display: block;
    position: absolute;
    --size: 30px;
    height: var(--size);
    width: var(--size);
    background-color: #F7F7F8;
    display: grid;
    place-content: center;
    border-radius: 50%;
    top: -4px;
    right: -2px;
}
.shop-filter .search-box{
    right: 0;
}
.filter-box-details{
    max-height: 0;
    transition: var(--default-transition);
    opacity: 0;
    visibility: hidden;
}
.filter-box-details.active{
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    margin-bottom: 30px;
}

.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}
.slider .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #BB7E26;
}
.range-input {
    position: relative;
}
.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    appearance: none;
    cursor: pointer;
}
.range-input input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #BB7E26;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.filter-color-list {
    display: flex;
    flex-direction: column;
}
.filter-color-list .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-color-list .form-group input[type="radio"] {
    display: none;
}
.filter-color-list .form-group label::before {
    content: '';
    display: inline-block;
    --size: 12px;
    width: var(--size);
    height: var(--size);
    margin-right: 10px;
    background-color: var(--color);
    border-radius: 50%;
    border: 1px solid #ddd;
}
.filter-product-status .form-group {
    display: flex;
    align-items: center;
}
.filter-product-status .form-group input[type="checkbox"] {
    display: none;
}
.filter-product-status .form-group label::before {
    content: '';
    display: inline-block;
    --size: 15px;
    width: var(--size);
    height: var(--size);
    margin-right: 10px;
    background-color: #D1D3C0;
    transition: background-color 0.2s ease;
}
.filter-product-status .form-group input[type="checkbox"]:checked + label::before {
    background-color: #1b1b1b;
}
.filter-size .form-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-size label{
    text-transform: uppercase;
}
.filter-size .form-group input[type="radio"]{
    display: none;
}

.filter-item .title{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.filter-item .title .icon{
    --size: 25px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: #f9f9f9;
    cursor: pointer;
    display: grid;
    place-content: center;
    transition: var(--default-transition);
}
.filter-item .title .icon.active i::before{
    content: '\2b';
}
.filter-item label{
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0;
}
.filter-item{
    margin-bottom: 40px;
}
.filter-price-range{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-price-label{
    font-size: 12px;
}
.filter-price-range input[type="submit"]{
    text-transform: uppercase;
    font-size: 12px;
    background-color: #1b1b1b;
    padding: 3px 15px;
    color: #fff;
}
.filter-category label{
    text-transform: capitalize;
}
.remove-filter{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #EAEBED;
}
.remove-filter li{
    display: inline-block;
    margin-right: 15px;
    text-transform: capitalize;
}
.remove-filter li.clear-all .remove-filter-icon::before, .remove-filter li.clear-all .remove-filter-icon::after{
    background-color: #fff ;
}
.remove-filter li a:hover .remove-filter-icon::before, .remove-filter li a:hover .remove-filter-icon::after{
    transform: rotate(0);
}
.remove-filter li .remove-filter-icon i{
    font-size: 8px;
}
.remove-filter li a{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-color);
}
.remove-filter li.clear-all .remove-filter-icon{
    background-color: #1b1b1b;
    color: #fff;
}
.filter-radio .label-input{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.remove-filter-icon{
    position: relative;
    color: var(--text-color);
    letter-spacing: .2px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-color: #f9f9f9;
    margin: 0;
    margin-right: 5px;
    border-radius: 50px;
}
.remove-filter-icon::before, .remove-filter-icon::after{
    content: "";
    width: 7px;
    height: 1px;
    position: absolute;
    left: 4px;
    top: 7px;
    display: inline-block;
    background-color: var(--text-color);
    transition: all .3s ease-out;
}
.remove-filter-icon::before{
    transform: rotate(45deg);
}
.remove-filter-icon::after{
    transform: rotate(-45deg);
}
.filter-radio .label-input:hover .remove-filter-icon::before, .filter-radio .label-input:hover .remove-filter-icon::after{
    transform: rotate(0);
}

/* shop-page */

/* about-page */


.about-section .about-gallery img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.about-gallery.image-1 img{
    max-height: 355px;
}
.about-gallery.image-2 img{
    max-height: 220px;
}
.about-gallery.image-3 img{
    max-height: 315px;
}
.about-section{
    padding-bottom: 150px;
}
.about-card{
    display: flex;
    gap: 20px;
}
.about-card:not(:last-child){
    margin-bottom: 27px;
}
.about-card .title{
    font-size: 26px;
    font-weight: 700;
}
.about-card p{
    color: #696969;
    padding-top: 10px;
    font-size: 16px;
}
.about-section .main-title{
    margin-bottom: 46px;
}
.about-section .main-title .title{
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 800;
    color:  #000;
    line-height: 1.4;
}
.about-section .main-title .sub-title{
    font-size: 20px;
    font-weight: 400;
    color: #696969;
    margin-bottom: 20px;
}
.about-section .main-title p{
    margin-top: 18px;
    font-size: 16px;
    font-weight: 400;
    color: #696969;
    line-height: 1.6;
}
.about-card .icon{
    --size: 70px;
    height: var(--size);
    width: var(--size);
    min-width: var(--size);
    border-radius: 50%;
    background-color: #F4F2EE;
    display: grid;
    place-content: center;
}

/* about-page */

/* contact-section */

.contact-section{
    padding-bottom: 150px;
}
.contact-form{
    background-color: #f9f9f9;
    padding: 60px 50px;
    border-radius: 2px;
}
.contact-form .main-title .title{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 1px;
    font-family: var(--secondary-fonts);
    margin-bottom: 20px;
}
.contact-form .main-title p{
    max-width: 608px;
    margin: 0 auto 32px;
}
.contact-banner .main-title .title{
    font-size: 20px;
    font-weight: 400;
    color: #696969;
    margin-bottom: 20px;
}
.contact-banner .main-title{
    width: 95%;
}
.contact-banner .main-title .sub-title{
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 800;
    color: #000;
    /* line-height: 1.4; */
}
.contact-banner .main-title p {
    margin-top: 18px;
    font-size: 16px;
    font-weight: 400;
    color: #696969;
    line-height: 1.6;
}
.contact-item{
    display: flex;
    gap: 15px;
}
.contact-item .icon{
    --size: 50px;
    height: var(--size);
    width: var(--size);
    min-width: var(--size);
    border-radius: 50%;
    background-color: #F4F2EE;
    display: grid;
    place-content: center;
}
.contact-item .icon i{
    font-size: 22px;
    color: #bca17a;
}
.contact-item .title{
    color: #7A7A7A;
    font-size: 16px;
    font-weight: 500;
}
.contact-item .text{
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.contact-list li + li{
    margin-top: 40px;
}
.contact-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 24px !important;
}

/* contact-section */

/* error-section */

.error-section .error-box{
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-section .content{
    max-width: 50%;
    text-align: center;
}
.error-box .image{
    --size: 175px;
    height: var(--size);
    width: var(--size);
    margin: 0 auto;
}
.error-box .main-title .title{
    margin-bottom: 20px;
    font-family: var(--secondary-fonts);
    font-size: 140px;
    line-height: 140px;
}
.error-box .main-title .sub-title{
    font-size: 25px;
    line-height: 35px;
    max-width: 65%;
    margin: 0 auto 20px;
} 
.error-box .btn-wrap{
    justify-content: center;
}
.error-box .btn-wrap a{
    text-transform: uppercase;
}

/* error-section */

/* list-cart-box */

.list-cart-box{
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 365px;
    background-color: #fff;
    transition: 0.5s ease-out;
    z-index: 9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: var(--default-transition);
}
.list-cart-box.active{
    right: 0;
}
.list-cart-box .box-head {
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
    border-bottom: 2px solid #eee;
    background-color: #fff;
}
.list-cart-box .box-head .icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
}
.list-cart-box .box-head .icon i{
    font-size: 25px;
}
.list-cart-box .box-head .text{
    font-size: 25px;
}
.list-cart-box .box-body{
    background-color: #f8f9fa;
    flex: 1;
    overflow: auto;
    max-height: calc(100vh - 315px);
    display: flex;
}
.list-cart-box .box-body .cart-product-list{
    flex: 1;
}
.list-cart-box .cart-product-item{
    display: flex;
    padding: 10px 15px;
    margin: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 2px #00000005;
    background-color: #ffffff;
    gap: 15px;
}
.list-cart-box .cart-product-item .image{
    width: 23%;
    flex: 0 0 23%;
}
.list-cart-box .cart-product-item .content .title{
    margin-bottom: 0;
}
.list-cart-box .cart-product-item .content .title a{
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color);
}
.list-cart-box .content .cart-qty{
    font-size: 10px;
}
.list-cart-box .cart-product-total{
    font-size: 13px;
    font-weight: 600;
}
.list-cart-box .cart-product-item .content{
    width: 72%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .list-cart-box .cart-product-item .action-btn {
    width: 32px;
    flex: 0 0 32px;
} */
.list-cart-box .cart-product-item .action-btn .remove-btn{
    --size: 32px;
    width: var(--size);
    height: var(--size);
    display: grid;
    place-content: center;
    border-radius: 50%;
    background-color: var(--text-color) ;
    color: #fff;
    cursor: pointer;
}
.list-cart-box .box-footer{
    background-color: #ffffff;
    color: #344250;
    padding: 10px 20px;
    box-shadow: 0 -5px 10px #0000001a;
}
.list-cart-box .cart-sub-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0 10px 0;
}
.list-cart-box .footer-text{
    font-size: 12px;
    text-align: center;
    margin: -8px auto 10px;
    display: block;
}
.list-cart-box .cart-cont-btns{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.list-cart-box .cart-cont-btns .cart-btn{
    background-color: var(--text-color);
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 20px;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}

/* list-cart-box */


/* cart-section */

.cart-section{
    padding-bottom: 150px;
}
.cart-item{
    padding-top: 15px;
    border-top: 1px solid #EAEBED;
}
.cart-item + .cart-item{
    margin-top: 15px;
}
.cart-item .content .title{
    margin-bottom: 0;
}
.cart-item .content .title a{
    color: var(--text-color);
    font-size: 16px;
}
.cart-item .product-price{
    font-size: 14px;
}
.cart-item.cart-action .col-6{ 
    display: flex;
}
.cart-action input[type="text"]{
    max-width: 160px;
    margin-right: 10px;
    padding: 12px 10px;
    min-height: 45px;
}
.cart-action input[type="submit"], .cart-action input[type="button"]{
    max-width: 160px;
    margin-right: 10px;
    padding: 12px 10px;
    min-height: 45px;
    background-color: var(--text-color);
    color: #fff;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    text-transform: capitalize;
}
.cart-action input[type="button"]:disabled{
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
}
.cart-action input[type="button"]{
    transition: var(--default-transition);
    margin-right: 0;
    transform: unset;
}
.cart-item.cart-action .col-6.text-end{
    justify-content: end;
}
.cart-box{
    padding: 32px 32px 18px;
    border: 1px solid #EAEBED;
}
.cart-box .main-title .title{
    font-size: 18px;
    text-transform: uppercase;
}
.cart-inner-datail .shipping-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.cart-inner-datail .cart-subtotal{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    text-transform: uppercase;
}
.cart-inner-datail .cart-subtotal .text{
    color: var(--text-color);
}
.cart-inner-datail .text{
    color: #7A7A7A;
}
.shiping-method{
    list-style: none;
    padding-left: 0;
    margin: 10px 0;
}
.shiping-method label, .shipping-destination {
    color: #7A7A7A;
}
.shipping-destination strong{
    color: var(--text-color);
}
.shipping-info{
    max-width: 230px;
}
.change-address{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.change-address .icon{
    cursor: pointer;
}
.country-form-dropdown-select::after{
    content: '\f078';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    right: 5px;
    transition: var(--default-transition);
}
.country-form-dropdown-select.open::after{
    transform: rotate(180deg);
}
.update-message {
    background-color: #F7F7F8;
    padding: 15px 30px;
    margin-bottom: 30px;
    max-height: 0;
    transition: var(--default-transition);
    display: none;
}
.update-message.active {
    display: block;
    max-height: 100px;
}

/* country-form */
.country-form-dropdown-select {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    width: 100%;
    height: auto;
    padding: 12px 10px;
    border: 1px solid #d9d9d9;
    color: var(--text-color);
    outline: none;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
}
.country-form-dropdown{
    margin-bottom: 10px;
}
.country-form-dropdown-menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    transition: all 0.3s ease-in-out;
}
.country-form-dropdown-menu-inner {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}
.country-form-dropdown-menu-item {
    font-family: inherit;
    font-size: 16px;
    font-weight: normal;
    line-height: inherit;
    cursor: pointer;
    user-select: none;
    padding: 5px 15px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}
.country-form-dropdown-menu-item:hover {
    color: #fff;
    background-color: var(--text-color);
}

.country-form-dropdown-menu-item.is-select,
.country-form-dropdown-menu-item.is-select:hover {
    color: #fff;
    background-color: var(--text-color);
}

.country-form-dropdown-menu-search {
    display: block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    width: calc(100% - 10px);
    height: auto;
    padding: 10px 20px;
    margin: 5px auto;
    border: none;
    outline: none;
    color: var(--text-color);
    border: 1px solid #000;
}
/* country-form */
.changing-form{
    display: none;
}
.changing-form .form-group{
    margin-bottom: 15px;
}
.changing-form input{
    outline: unset;
}
.changing-form .form-group.update input{
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    height: 33px;
    font-size: 14px;
    letter-spacing: 0;
    padding: 0 15px;
    min-width: 160px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-inner-datail .cart-total{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 15px;
    margin-bottom: 15px;
}
.cart-inner-datail .cart-total .text{
    color: var(--text-color);
}
.cart-inner-datail .checkout-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #BA9457;
    border: 1px solid #BA9457;
    text-align: center;
    height: 45px;
    font-size: 16px;
    padding: 0 15px;
    border-radius: 5px;
    transition: var(--default-transition);
}
.cart-inner-datail .checkout-btn a:hover{
    background-color: #BB7E26;
    border-color: #BB7E26;
}

/* cart */

/* checkout */

.checkout-section{
    padding-bottom: 150px;
}
.coupon-toggle, .login-toggle {
    border: 1px solid #bbdefb;
    padding: 15px 20px;
    margin-bottom: 30px;
}
.login-form, .coupon-form, .create-account-pw {
    display: none;
}
.login-form, .coupon-form {
    margin: 30px 0;
}
.login-form p, .coupon-form p {
    font-size: 14px;
    margin: 0;
}
.login-form .form-group {
    max-width: 350px;
    width: 100%;
    margin-bottom: 6px;
}
.lost-password a {
    font-size: 14px;
    color: #BB7E26;
}
.billing-additional .title {
    font-size: 20px;
    margin-bottom: 15px;
}
.checkout-section label {
    display: block;
    font-size: 14px;
    line-height: 2;
}
.create-account-pw {
    padding-top: 5px;
}
.create-account .create-ac-box{
    display: flex;
    gap: 10px;
    align-items: center;
}
.create-account .create-ac-box *{
    cursor: pointer;
    margin-bottom: 0;
}
.checkout-order-list thead {
    background-color: #f2f2f2;
}
.checkout-order-list th {
    width: 50%;
}
.checkout-order-list table{
    width: 100%;
}
.product-name, .cart-subtotal *, .order-total *, .product-total, th.product-name{
    color: var(--text-color);
    font-size: 14px;
    text-transform: capitalize;
}
.checkout-order-list th, .checkout-order-list td {
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
}
.checkout-order-list table > :last-child tr:last-of-type th, .checkout-order-list table tfoot tr:last-of-type td, .checkout-order-list table > :last-child tr:last-of-type td {
    border-bottom-style: none;
}
.checkout-cart-item .product-name{
    color: rgb(122, 122, 122);
}
.checkout-cart-item .product-quantity{
    color: var(--text-color);
}
.billing-additional .form-input{
    margin-bottom: 15px;
    outline: unset;
}
.billing-additional > .row{
    margin-bottom: 30px;
}
.billing-additional .place-order input{
    max-width: 160px;
    margin-right: 10px;
    padding: 12px 10px;
    min-height: 45px;
    background-color: var(--text-color);
    color: #fff;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    text-transform: capitalize;
}
.toggle-item .btn-box.black{
    max-width: unset;
    min-height: unset;
    padding: 5px 10px;
    margin-right: 0;
    width: fit-content;
}
.toggle-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coupon-form .toggle-item{
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: unset;
}
.toggle-item label{
    margin-bottom: 0;
}
.remember-box{
    display: flex;
    align-items: center;
    gap: 5px;
}
.remember-box *{
    cursor: pointer;
}
.form-coupon{
    display: flex;
    gap: 10px;
}
.payment-method{
    list-style: none;
    padding-left: 0;
}
.payment-method label {
    display: inline;
    padding-left: 10px;
}
.payment_box {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    margin: 13px 0;
    padding: 13px;
    position: relative;
}
.payment_box::before {
    content: '';
    position: absolute;
    left: 20px;
    top: -25px;
    border: 15px solid #f2f2f2;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    z-index: -1;
}
.payment-option:first-child .payment_box {
    display: block;
}
.payment_box p {
    margin: 0;
    font-size: 13px;
}
strong .product-amount {
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
}
.cart-subtotal .product-amount {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}
.place-order-box{
    padding: 32px 32px 18px;
    border: 1px solid #EAEBED;
}
.checkout-order-list{
    margin-bottom: 30px;
}

/* checkout */

/* search */
.search-result .main-title .title{
    font-size: 20px;
}
.search-result .main-title p{
    font-size: 14px;
    margin-bottom: 20px;
}
.search-product input[type="search"] {
    max-width: 300px;
    width: 100%;    
    padding: 5px 15px;
    border: 1px solid #eaeaea;
    font-size: 14px;
}
.search-section{
    padding-bottom: 150px;
}
/* search */


/* contact-two */

.contact-two .main-title .title{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 35px;
}
.contact-box{
    background-color: #f9f9f9;
    padding: 60px 50px;
    border-radius: 2px;
}

/* contact-two */


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }    
}